Plugins/
.vs/
Binaries/
Intermediate/
Saved/
*.sln
.vsconfig
Content/DreamscapeSeries/
Content/EuropeanBeech/
Content/EuropeanHornbeam/
Content/MSPresets/
Content/TreeLODTest/
Houdini/backup/
Houdini/hda/backup/
Houdini/mess/
